.page-setup{
    min-height: 100%;
    display: grid;
    grid-template-areas:
    'header header header'
    'left main rigth'
    'left main rigth';
    grid-template-rows: 50px 95vw;
    min-width: 860px;
    font-family: Roboto, Arial, sans-serif;
    grid-template-columns: 0% 75% 25%;
    background-color: whitesmoke;
    margin: 0%;

}
.nav-bar{
    grid-area: header;
    display: grid;
    text-align: center;
    grid-template-columns: 15% 60% 25%;
    height: 50px;
    background-color: white;
}

.search-container div{
    display: inline-flex;
    width: 80%;
    min-height: 30px;
}
.logo{
    display: inline-flex;
    height: auto;
    min-width: 135px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.logo div {
    display: inline-flex;
}
.search-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}
.search-bar{
    width: 90%;
    min-width: 350px;
    padding-left: 10px;
    margin: 0%;
}
.search-button{
    width: 10%;
    min-width: 50px;
    padding: 0%;
    margin: 0%;
}
.menu-top{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.menu-top button{
    width: 10%;
    min-width: 25px;
    padding: 0%;
    border-style: none;
    background-color: transparent;
}
.menu-top img {
    width: 25px;
}
.logo img{
    width: 80px;
}
.main-video{
    margin: 10px;
    grid-area: main;
}
.video{
    position: relative;
    height: 60vh;
    width: 100%;
}
.video embed{
    width: 100%;
    height: 100%;
}
.info-video{
    display: block;
    font-family: Roboto, Arial, sans-serif;

}

.info-video a{
    font-size: 8px;
}
.info-video button{
    border-style: none;
    background-color: transparent;
}
.info-video button p{
    padding:2px;
}
.info-video button img{
    padding:2px;
}
.info-video button div{
    display: inline-flex;
}

.info-video h2{
    margin: 0px;
}

.info-video h6{
    margin: 8px 0px;
    font-size: 14px;
    color: rgb(96, 96, 96);
}



.right{
    float: right;
    margin: -2% 0px;
}

.left{
    float: left;
    margin: -2% 0px;
}

.uploader-info{
    width: 100%;
    display: grid;
    grid-template-areas: 'left1 bottom1 right1'
                         'left1 bottom1 right1'
                         'left1 bottom1 right1';
    grid-template-columns: 5% 75% 20%;
    margin: 2% 0;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.uploader-info a{
    font-size: 8pt;
}


.uploader-img{
    grid-area: left1;
}

.gridright{
    display:inline-block;
    text-align:right;
    grid-area: right1;
}

.uploader-content{
    grid-area: bottom1;
}

.side-bar{
    width: 100%;
    grid-area: rigth;
    margin: 2$;
    
}

.side-bar-data a{
    height: 8vw;
    display: grid;
    grid-template-areas: '1left 1center' !important;
    grid-template-columns: 40% 60%;   
    margin: 2%;
    text-decoration: none;
}

.side-bar-img{
    height: 7vw;
    display: inline-flex;
    align-items: center;
    align-content: center;
}

.side-bar-img img{
    width: 100%;
    height: 100%;
}

.side-bar-content{
    margin: 0% 1% 1% 1%;
    height: 7vw;
}

.side-bar p{
    font-size: 12px;
    margin: 0px 10px 10px 10px;
    color: grey;
}

.side-bar h1{
    font-size: 14px;
    margin: 0px 10px 10px 10px;
    color: black;
}

.side-bar h2{
    font-size: 14px;
    margin: 0px 10px 10px 10px;
    color: grey;
}

.line{
    border-style: solid;
    border-color: lightgray;
    border-width: 1px 0px 0px 0px;
    margin: 3% 2% 5% 2%;
}

.side-bar-top-buttons{
    display: grid;
    grid-template-columns: 50% 50%;
}

.side-bar h3{
    font-weight: 300;
    font-size: 16px;
}

